.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-base {
  font-size: 1.6rem; /* 16px */
  line-height: 2.4rem; /* 24px */
}

.pb-4 {
  padding-bottom: 1.6rem; /* 16px */
}
