@import "./styles/reset.css";
@import "./styles/variables.css";

.app {
  width: 45%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
