@import "./styles/reset.css";
@import "./styles/variables.css";
@import "./styles/common.css";

.app {
  width: 100%;
  max-width: 50rem;
  padding: 0.8rem;
  height: 100vh;
  margin: auto;
}

@media screen and (max-width: 48em) {
  html {
    font-size: 56%;
  }
}
